{% extends 'base.html' %}
{% block title %}Home page{% endblock %}
{% block content %}
<h3 class="my-4">All Categories</h3>
<div class="row">
    <div class="col-md-4">
        {% for category in data %}
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ category.title }}</h5>
              <p class="card-text">{{ category.detail }}</p>
              <a href="{% url 'category_questions' category.id %}" class="btn btn-primary">Начать тестирование</a>
            </div>
          </div>
          {% endfor %}
    </div>
</div>
{% endblock %}